<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
  <footer>hasan</footer>
  </body>
</html>
